<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: ANT100 Case Study</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>

		<div class="case-content">
			<h4>ANT100 Course Website</h4>

			<h5><b>Project: </b>ANT100 Course Website Redesign &amp; Navigation Reorganization</br></h5>
			
			<h5><b>Client: </b>Department of Anthropology, University of Toronto</h5>

			<h4>Summary</h4>

			<p>ANT100 (Introduction to Anthropology) is a core entry-level course for any student interested in pursuing a major related to anthropology at the University of Toronto. I was hired by the ANT100 course coordinator to redesign the website, give it a more modern look, and make it lightweight and responsive so that students could reference material on-the-go.</p>

			<p>This project involved developing a sensible information architecture for ease of students' usage, engaging interactive JQuery elements, and an intuitive layout that could be repurposed for other courses.</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">Axure</div>
				<div class="tag">HTML &amp; CSS</div>
				<div class="tag">JQuery</div>
				<div class="tag">Information Architecture</div>
				<div class="tag">SEO</div>
				<div class="tag">User Testing</div>

			<br><br>

			<a href="http://www.maggiecheung.ca/ant100/index.html" target="_blank">
				<button>View the ANT100 Website    <i class="fa fa-external-link"></i></button>
			</a>
			
			<br><br>

			<h4>Process</h4>

			<div class="process">

			<h3>
				<div class="process-node">1</div>				
				Identifying User Needs
			</h3>

			<p>Tackling this project was an experience that hit close to home - as a full-time university student myself, many of the ANT100 course website users' needs were also ones I shared. In particular, I tackled this project with the following user goals in mind:</p>

			<h5>User Needs</h5>

			<ul>
				<li>Accessing tutorial information, textbook details, TA/professor contact information and office locations while on-the-go (on mobile)</li>
				<li>At-a-glance overview of the course's topics, lectures, and readings (ideally with links to readings)</li>
				<li>Warnings about deadlines, special instructions, or penalties for assignments</li>
				<li>Quick access to policies for late submissions and extension requests</li>
				<li>Resources for help with essay-writing and research</li>				
			</ul>

			<h3><div class="process-node">2</div>	
				Prioritizing Client Goals</h3>

			<p>My supervisor on this project was an experienced professor in the department who had an appreciation for UI elements that engaged with users. He wanted a homepage that would "invite students in" to engage with the learning goals that he'd built into the coursework.</p>

			<h5>Client Goals</h5>

			<ol>
				<li>Engage students in learning how to be a good researcher</li>
				<li>Ensure students have a clear awareness of the capstone essay assignment</li>
				<li>Guide students towards the "boring" information: plagiarism, research &amp; documentation, academic policies, and TA/professor contact policies</li>				
				<li>Reduce redundant student questions</li>
				<li>Create a modern interface (future-proof) that can be reused for other courses</li>
				<li>Create a website that the teaching team, who is unfamiliar with HTML/CSS, will be able to edit with visual editors</li>
			</ol>

			<h3><div class="process-node">3</div>	
				Information Architecture</h3>

			<p>The prior iteration of the ANT100 website had over 20 webpages of information, with many cross-over hyperlinks, numerous anchor tags, and a navigation bar that, confusingly, changed between the "main" website and the essay" mini-site. This meant reorganizing much of the original website and coming up with a feature for organizing the content of the essay mini-site so that it could be contained within one website.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/mainnav.png" target="_blank">
				<img src="../assets/img/proj/ant100/mainnav.png" alt="The main navigation of the previous website"></a>
				<div class="caption">The main navigation</div>
			</div>

			<div class="caption-container">
				<a href=src="../assets/img/proj/ant100/essaynav.png" target="_blank">
				<img src="../assets/img/proj/ant100/essaynav.png" alt="The secondary navigation of the previous website"></a>
				<div class="caption">The essay "mini-site" navigation</div>
			</div>

			<p>I created low-fi sketches for both information architecture and layout brainstorming, which I then edited with my supervisor's feedback.</p>

			<p>To reorganize the essay mini-site, I used JQuery interactive elements to create pages where information could be collapsed or folded under higher levels of organization (e.g. accordion sliders, slideshows). This also helped make everything more mobile-friendly.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/sketch-ia1.jpg"  target="_blank">
				<img src="../assets/img/proj/ant100/sketch-ia1.jpg" alt="Sketches for IA"></a>
				<div class="caption">Sketching out a list of main items and sub-items to navigate</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/sketch-ia2.jpg" target="_blank">
				<img src="../assets/img/proj/ant100/sketch-ia2.jpg" alt="Sketches for IA as a tree"></a>
				<div class="caption">A concept-map for rough IA</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/sketch-ia3.jpg" target="_blank">
				<img src="../assets/img/proj/ant100/sketch-ia3.jpg" alt="Final IA sketch"></a>
				<div class="caption">A finalized concept-map with client corrections</div>
			</div>

			<p>Once information was organized, I started sketching solutions for the project.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/sketch-mobile.jpg" target="_blank">
				<img src="../assets/img/proj/ant100/sketch-mobile.jpg" alt="Mobile layout sketch"></a>
				<div class="caption">The essay "mini-site" navigation</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/ant100/sketch-accordion.jpg" target="_blank">
				<img src="../assets/img/proj/ant100/sketch-accordion.jpg" alt="Accordion sketch"></a>
				<div class="caption">Using an accordion layout to condense long tables of lecture topics</div>
			</div>

			<h3><div class="process-node">4</div>	
				Features &amp; Prototyping</h3>

			<p>With a concrete feature list in mind, I generated a hi-fi Axure wireframe and accompanying wireframe for the rest of the ANT100 teaching team to critique.</p>

			<a href="../../assets/img/proj/ant100/ANT100 Wireframe Documents.docx" target="_blank">
				<button>Read the Wireframe Documentation    <i class="fa fa-download"></i></button></button><br><br>
			</a>

			<h5>Feature List for Solutions</h5>

			<ul>
				<li><b>Mobile-First Design</b> for a flexible responsive layout.</li>
				<li><b>Homepage Slider</b> with three slides pertaining to the three most important pages: the essay, lecture notes, and evaluation/extensions</li>
				<li><b>JQuery Accordion Sliders</b> to collapse the long, scroll-heavy pages, such as the essay assignment outline and the list of lecture topics, readings and notes</li>
				<li><b>Interactive Quizzes</b> on plagiarism and proper essay-writing format, which students would have to complete in order to obtain a code to include with their essay to obtain full marks.</li>
				<li><b>Breadcrumb Trail</b> for ease-of-navigation through the two-tierd navigation system.</li>
				<li><b>Offline Search Script</b> based on indexed pages, and would be able to search the cached site even when internet connection is unreliable (e.g. when on-the-move).</li>
				<li><b>Persistent Scroll-to-Top Button</b> on all pages for ease-of-access.</li>
				<li><b>Colourblind-Friendly Palette</b> based on four colourblind-safe colours to enable the best experience for any student, regardless of accessibility concerns.</li>
			</ul>

			<a href="http://www.maggiecheung.ca/ant100/README.html" target="_blank">
				<button>See the Design Features in Action    <i class="fa fa-external-link"></i></button><br><br>
			</a>

			<h3><div class="process-node">5</div>	
				Testing &amp; Finetuning</h3>

			<p>Finally, some features of the website were finetuned, according to feedback from casual user-testing. I invited members of the ANT100 team, my friends, and some university students in first year to test the website.</p>

			<h5>Final Changes</h5>

			<ul>
				<li>Added top-tier navigation buttons as links into drop-down menus - users often neglected to see the top-tier button as "clickable" once it triggers the drop-down menu</li>
				<li>Adjusted colour scheme of navigation bar to accommodate aesthetics on different platforms (the golden-yellow was unpleasant on certain screens).</li>
				<li>Changed shape of search bar to match across platforms (iOS did not accommodate specific border-radii).</li>
				<li>Added SEO 'alt' tags and indexed pages with meta-data for better search engine crawling.</li>
				<li>Adjusted slider for smoother operation across viewport sizes.</li>
			</ul>

			<h4>Samples of Work</h4>

			<a href="http://www.maggiecheung.ca/ant100/index.html" target="_blank">
				<button>View the ANT100 Website    <i class="fa fa-external-link"></i></button><br><br>
			</a>

			<a href="http://www.maggiecheung.ca/ant100/README.html" target="_blank">
				<button>View the Design System    <i class="fa fa-external-link"></i></button><br><br>
			</a>

			</div>
		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
