<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Avcon WW</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h4>Avcon WW: Aviation Consulting</h4>

			<h5><b>Agency:</b> Chartreuse Media</br></h5>
			<h5><b>Project:</b> WordPress Website, Graphic &amp; Brochure for Avcon WW</br></h5>

			<h4>Summary</h4>

			<p>AVCON.WW inc. is a solutions provider to airports, airlines and the aviation-related community.</p>

			<p>This project involved customizing the stylesheets, PHP injection, and interactive elements of a WordPress blog to match AVCON.WW inc.'s branding and direct users' attention towards the business's specialized services. The goal was to have users look at the homepage and instantly realize the company's consulting specialties and their environmental sustainability focus.</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">WordPress</div>
				<div class="tag">HTML &amp; CSS</div>
				<div class="tag">Adobe InDesign &amp; Illustrator</div>
				<div class="tag">Graphic Design</div>
				<div class="tag">Copywriting</div>

			<br><br>

			<a href="http://www.avconww.com" target="_blank">
				<button>Visit AVCON's Website    <i class="fa fa-external-link"></i></button>
			</a>

			<br><br>

			<h4>Samples of Work</h4>

			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="http://www.avconww.com" target="_blank">
				<img src="../assets/img/proj/avconww/web-thumb.jpg" alt="AVCON WW WordPress Website" width="300px"></a>
				<div class="caption">AVCON's Website</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/avconww/avcon-process2.jpg" target="_blank">
				<img src="../assets/img/proj/avconww/avcon-process2.jpg" alt="AVCON WW Process Flowchart" width="300px"></a>
				<div class="caption">Custom flowchart depicting AVCON's business process</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/avconww/Pamphlet_Final_webprint.pdf" target="_blank">
				<img src="../assets/img/proj/avconww/brochure-thumb.jpg" alt="AVCON WW Brochure" width="300px"></a>
				<div class="caption">AVCON Corporate Brochure</div>
			</div>

			<div class="caption-container">
				<a href="http://www.maggiecheung.ca/avconww/landing/index.html" target="_blank">
				<img src="../assets/img/proj/avconww/landing-thumb.jpg" alt="AVCON WW Landing Page" width="300px"></a>
				<div class="caption">Landing Page</div>
			</div>
		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
