<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Bright Futures Conference</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h4>Bright Futures Conference: A Fundraiser &amp; Educational Conference</h4>

			<h5><b>Client:</b> Bright Futures for Young Mothers Canada</br></h5>
			<h5><b>Project:</b> Fundraising Conference, Social Media, WordPress Website, &amp; Associated Marketing Materials</br></h5>

			<h4>Summary</h4>

			<p>Bright Future for Young Mothers Canada (BFYMC) is a Canadian based non-profit that aims to empower young, adolescent mothers in Tanzania. They provide shelter, food, healthcare, and other basic necessities, as well as a nurturing environment to help these young girls create a brighter future for themselves and their families.</p>

			<p>I came up with this project in homage to a history of small-cause fundraising that my friend circle and I have always been involved in. This project is a single-day fundraising conference that offered a day of workshops in HTML/CSS, Microsoft Excel, and Public Speaking, along with a speaker's panel consisting of local women leaders, in order to raise funds for health care kits for young mothers in Tanzania.</p>

			<p>In addition, I was also responsible for managing BFYMC's website, setting up and managing their social media, running a social media campaign for the fundraiser, securing sponsorships and donations, and designing marketing collateral.</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">HTML &amp; CSS</div>
				<div class="tag">Wordpress</div>
				<div class="tag">Adobe Creative Suite</div>
				<div class="tag">Logo &amp; Graphic Design</div>
				<div class="tag">Copywriting</div>
				<div class="tag">Sponsorship</div>
				<div class="tag">Social Media</div>
				<div class="tag">SEO</div>
				<div class="tag">Fundraising</div>

			<br><br>

			<a href="http://www.bfym.ca/" target="_blank">
				<button>Visit the BFYMC Website    <i class="fa fa-external-link"></i></button>
			</a>

			<br><br>

			<h4>Samples of Work</h4>

			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="../assets/img/proj/bfc/logo.png" target="_blank">
				<img src="../assets/img/proj/bfc/logo.png" alt="BFC logo" width="300px"></a>
				<div class="caption">Conference Logo</div>
			</div>

			<p><b>Rationale: </b>The design uses the colours of the charity's logo (also the colours of the Tanzanian national flag) and applies it to the silhouettes of four women. This is meant to represent unity and solidarity amongst diverse women, a core theme of the conference, while echoing the mission and locality of the charity it supports.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/bfc/fbbanner2.jpg" target="_blank"><img src="../assets/img/proj/bfc/fb-thumb.jpg" alt="BFC Facebook Banner" width="300px"></a>
				<div class="caption">Facebook Banner</div>
			</div>

			<p><b>Rationale: </b>This banner conveys the main details of the conference, including the logos of key event partners that would attract attendees, within a limited space.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/bfc/BFC_brochure V9.pdf" target="_blank">
				<img src="../assets/img/proj/bfc/brochure-thumb.jpg" alt="Bright Futures Conference Brochure" width="300px"></a>
				<div class="caption">Brochure for the Conference</div>
			</div>

			<p><b>Rationale: </b>The brochure was intended to inform participants about the cause that their funds would be going towards, provide brief summaries of the conference eventsand speakers, and pique participant interest for future donations to the charity.</p>

			<div class="caption-container">
				<a href="../assets/img/proj/bfc/feedback.png" target="_blank">
				<img src="../assets/img/proj/bfc/feedback.png" alt="Bright Futures Conference Brochure" width="300px"></a>
				<div class="caption">Feedback Form</div>
			</div>

			<p><b>Rationale: </b>As with all events I help plan, I created a feedback form to gauge participants' impressions of the organization, effectiveness, and enjoyability of our event.</p>
		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
