<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Salon Series</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h4>Salon Series</h4>

			<h5><b>Agency:</b> Chartreuse Media</br></h5>
			<h5><b>Project:</b> Semi-Regular Salon for Local Artists and Intellectuals</br></h5>

			<h4>Summary</h4>

			<p>The Salon Series is a bimonthly community event hosted by Chartreuse Media, a local integrated marketing agency, to bring together artists and intellectuals in Toronto. Each salon is themed around a special activity or event.</p>

			<p>For this project, I conceived, planned, and designed the digital and print marketing material for the 'Alice In Wonderland'-themed salon, entiteld "Down the Rabbit Hole".</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">HTML/CSS</div>
				<div class="tag">Graphic Design</div>
				<div class="tag">Copywriting</div>

			<br><br>

			<a href="http://www.salon-series.ca" target="_blank">
				<button>Visit the Salon Series Website    <i class="fa fa-external-link"></i></button>
			</a>

			<br><br>

			<h4>Samples of Work</h4>
			
			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="../assets/img/proj/salon/salon-alice.jpg" target="_blank"><img src="../assets/img/proj/salon/salon-alice.jpg" alt="Salon Series Alice" width="50%"></a>
				<div class="caption">Salon Series: Down the Rabbit Hole</div>
			</div>

		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
