<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Twiin</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h4>Twiin: Lovers Rock Singer</h4>

			<h5><b>Agency:</b> Chartreuse Media</br></h5>
			<h5><b>Project:</b> Integrated Marketing for Twiin Jesse</br></h5>

			<h4>Summary</h4>

			<p>Twiin Jesse is a lovers rock singer/swongwriter, whose tunes borrow from the streetlight magic of night-time Toronto. His sound is a little bit country, a little bit soul, and entirely homegrown.</p>

			<p>This project involved developing a one-of-a-kind responsive one-page website that showcases Twiin's unique look, and invites visitors to download his press kit (<i>*hint*</i> go towards the light!).</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">HTML &amp; CSS</div>
				<div class="tag">JQuery</div>
				<div class="tag">Adobe Creative Suite</div>
				<div class="tag">Logo &amp; Graphic Design</div>
				<div class="tag">Copywriting</div>
				<div class="tag">Photography</div>

			<br><br>

			<a href="http://www.twiinmusic.com" target="_blank">
				<button>Visit Twiin's Website    <i class="fa fa-external-link"></i></button>
			</a>

			<br><br>

			<h4>Samples of Work</h4>

			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="http://www.twiinmusic.com" target="_blank"><img src="../assets/img/proj/twiin/web-thumb.jpg" alt="Twiin Website"></a>
				<div class="caption">Twiin's website</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/twiin/bcard.jpg" target="_blank"><img src="../assets/img/proj/twiin/bcard-thumb.png" alt="Twiin businesscard"></a>
				<div class="caption">Twiin's businesscard</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/twiin/logo-graphics.jpg" target="_blank">
				<img src="../assets/img/proj/twiin/logo-thumb.jpg" alt="Twiin logo-graphics"></a>
				<div class="caption">Custom graphics designed for Twiin</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/twiin/PressKit.pdf" target="_blank">
				<img src="../assets/img/proj/twiin/presskit.jpg" alt="Press kit for Twiin Jesse"></a>
				<div class="caption">Copy, visuals, and photography for Twiin's press kit</div>
			</div>
		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
