<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Who Knew?</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h4>Design in Design Case Competition: Winning Entry</h4>

			<h5><b>Client:</b> Toronto Public Library</br></h5>
			<h5><b>Project:</b> Advertising, Copywriting, Graphic Design</br></h5>

			<h4>Summary</h4>

			<p>Design in Design is an advertising club, agency, and student group at the University of Toronto. This was the winning ad for an advertising case competition hosted by the club, for the Toronto Public Library.</p>

			<p>Spearheading a four-person team, I conceived the concept and copy, and collaborated with a teammate on the design.</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">Advertising</div>
				<div class="tag">Logo &amp; Graphic Design</div>
				<div class="tag">Copywriting</div>

			<br><br>

			<h4>Samples of Work</h4>

			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="../assets/img/proj/dind/who-knew.jpg" target="_blank"><img src="../assets/img/proj/dind/who-knew.jpg" alt="TPL Who Knew Advertisement" width="50%"></a>
				<div class="caption">"Who Knew?"</div>
			</div>

		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>
