<div class="about">
	<div class="pbanner-about">
		<h1 class="ptitle">About</h1>
	</div>

	<div class="wrapper">
		<h2 ng-class="{ live: isActive('/about') }">My name is Maggie Cheung and I am a recent University of Toronto graduate seeking work in UX/UI design.</h2>

		<h3>Merging Theory and Practise</h3>

		<p>I studied <b>Psychology &amp; Cognitive Science</b> because I wanted to figure out what makes people tick. How can the same song make one person cry and another laugh? How do humans make decisions and solve problems? How does <b>form afford function</b>, in a mind, in a machine, or through a digital interface?</p>

		<p>My passion for digital design began as a pastime of editing my father's websites. It grew into a thirst for creating and critiquing my own interfaces, and since then I've accrued a decade of familiarity working with web interfaces. More recently, I have spent the past three years helping my clients achieve their goals by creating digital and print experiences that are <b>fluent, fresh, and immediately relevant</b>.</p>

		<h3>Solving People-Centric Problems</h3>

		<p>How do you get users to click here, instead of there? How can a colour palette or banner placement change one's bottom line? Why don't users understand how to interact with a certain interface? By combining my academic background with practical design experience, I design digital interfaces targeted to solve people-centric problems just like these. </p>

		<h3>Soft Skills</h3>

		<p>Experiences in nonprofit management and fundraising have helped me hone soft skills in <b>negotiation</b> and <b>project management</b>, while a love of theatre and poetry have bootstrapped my <b>public speaking</b> and <b>copywriting</b> abilities.</p>

		<h2>Now, I'm looking for my next adventure; I'm looking for <b>people-centred problems</b> and a <b>team that enjoys solving them</b>.</h2>

	</div>

	<!-- Scroll Up -->
<!-- 	<button class="up" onClick="scrollToTop()">
		<i class="fa fa-chevron-up"></i>
	</button> -->

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>