<div class="contact">
	<div class="pbanner-contact">
		<h1 class="ptitle">Contact</h1>
	</div>

	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

	<div class="wrapper">
		<h2>Want to talk?</h2>

		<p>I'm located right in the heart of downtown Toronto. You can reach me at <a href="mailto:mc@maggiecheung.ca">mc@maggiecheung.ca</a> or fill out my contact form to get in touch right now.</p>

		<a class="typeform-share button-wrap" href="https://mcheung19.typeform.com/to/TEbob2" data-mode="1" target="_blank">
			<button>Let's Get In Touch     <i class="fa fa-coffee"></i></button>
		</a>

		<br><br>

		<div class="left-insert">
			<img src="../assets/img/inserts/coffee.jpg" id="coffee">
		</div>

	</div>

	<!-- Scroll Up -->
	<!-- <button class="up" onClick="scrollToTop()">
		<i class="fa fa-chevron-up"></i>
	</button> -->

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>