<div class="home">
	<div class="flex-column home-content">
		<div class="hero">
			<div class="greeting">
				<div class="text">
					<span class="hello">Hello. </span><br>
					<span class="goodbye">My name is <b>Maggie Cheung</b> and I am a <b>Web/UX Designer</b>.</span>
				</div>
			</div>
		</div>

		<div class="summary row">
			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
					<h3 class="sum-cat"><i class="fa fa-magic sum-icon"></i> &nbsp;&nbsp;SKILLS</h3>

					<div class="sum-description">
						<ul>
							<li>Web Design &amp; Development</li>
							<li>Rapid Prototyping</li>
							<li>Wireframing</li>
							<li>SEO &amp; Social Media</li>
							<li>Graphic &amp; Print Design</li>
							<li>Research &amp; Documentation</li>
						</ul>
					</div>

					<a href="#about" class="sum-cta"><button class="readmore button2">About Me &raquo;</button></a>
			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
					<h3 class="sum-cat"><i class="fa fa-wrench sum-icon"></i> &nbsp;&nbsp;TOOLS</h3>

					<div class="sum-description">
						<ul>
							<li>HTML, CSS, &amp; SCSS</li>
							<li>Javascript &amp; JQuery</li>
							<li>Adobe Illustrator, Photoshop, InDesign</li>
							<li>Axure</li>
							<li>WordPress, Ghost.io</li>
							<li>Qualtrics &amp; Zoho Database</li>
						</ul>
					</div>

					<a href="#portfolio" class="sum-cta"><button class="readmore button2">Portfolio &raquo;</button></a>
			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
					<h3 class="sum-cat"><i class="fa fa-lightbulb-o sum-icon"></i> &nbsp;&nbsp;EXPERIENCE</h3>

					<div class="sum-description">
						<p>Over past 5 years, I've done:</p>

						<ul>
							<li>Web &amp; Graphic Design</li>
							<li>Sponsorship &amp; Fundraising</li>
							<li>Psychological Research</li>
							<li>Nonprofit Management</li>
						</ul>
					</div>

					<a href="#blog" class="sum-cta"><button class="readmore button2">Blog &raquo;</button></a>
			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
					<h3 class="sum-cat"><i class="fa fa-mortar-board sum-icon"></i> &nbsp;&nbsp;EDUCATION</h3>

					<div class="sum-description">
						<p><b>University of Toronto, 2017</b><br/>
						Hon.B.Sc. in Cognitive Science (Computational Stream) &amp; Psychology (cGPA 3.7)</p>

						<ul>
							<li>Design of Computational Interactive Media</li>
							<li>Cognitive Psychology</li>
							<li>Statistics &amp; Research Methodology</li>
							<li>Python &amp; Java</li>
							<li>Object-Oriented Design</li>
						</ul>
					</div>

					<a href="#contact" class="sum-cta"><button class="readmore button2">Contact Me &raquo;</button></a>
			</div>
		</div>
	</div>

	<!-- Google Analytics-->
	<div ng-include="'app/shared/analytics/ganalytics.html'"></div>
	<!-- Google Analytics-->
</div>