<div class="portfolio">
	<div class="pbanner-portfolio">
		<div class="ptitle case">
			<h1>Portfolio: Zeynep Ozbilen</h1>
		</div>
	</div>

	<div class="wrapper">
		<a href="#portfolio">
			<button class="return-to-port">
				Return to Portfolio Overview
			</button>
		</a>


		<div class="case-content">
			<h2>Zeynep Ozbilen</h2>

			<div class="right-insert"><img src="../assets/img/project-thumbs/zeynep.jpg" alt="Zeynep's Website"></div>

			<h5><b>Agency:</b> Chartreuse Media</br></h5>
			<h5><b>Project:</b> Integrated Marketing for Zeynep Ozbilen</br></h5>

			<h4>Summary</h4>

			<p>Zeyenp Ozbilen is an accomplished WorldJazz songstress, composer, and polyglot vocalist. As part of my role as digital designer at Chartreuse Media, I helped design Zeynep's digital presence.</p>

			<p>This project involved customizing a unique WordPress website for Zeynep where she could engage with her fans, and designing album art and collaterals to match.</p>

			<h3>Skills &amp; Tools</h3>

				<div class="tag">HTML &amp; CSS</div>
				<div class="tag">WordPress</div>
				<div class="tag">Adobe Creative Suite</div>

				<br><br>

			<h4>Samples of Work</h4>

			<a href="http://www.zeynepozbilen.com" target="_blank"><button>Visit Zeynep's Website</button></a><br><br>

			<h5>Click for Full-Sized View</h5>

			<div class="caption-container">
				<a href="../assets/img/proj/zeynep/postcard.jpg" target="_blank"><img src="../assets/img/proj/zeynep/post-thumb.jpg" alt="Zeynep's postcard"></a>
				<div class="caption">A postcard for the album release party for 'Zee'</div>
			</div>

			<div class="caption-container">
				<a href="../assets/img/proj/zeynep/album.pdf" target="_blank">
				<img src="../assets/img/proj/zeynep/zee.jpg" alt="Album art for 'Zee'"></a>
				<div class="caption">Album Art for 'Zee'</div>
			</div>
		</div>
	</div>
</div>
